parameters:
    level: 7
    paths:
        - src/
        - tests/
    autoload_files:
        - '%currentWorkingDirectory%/bin/.phpunit/phpunit-7.5/vendor/autoload.php'
    inferPrivatePropertyTypeFromConstructor: true
